<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="4">
	<listeners>
		<listener class-name="hms.genericutility.ListenerImplementation"></listener>
		<listener class-name="hms.genericutility.AnnotationTransformer"></listener>
	</listeners>
  <test thread-count="4" name="Test">
    <classes>
      <class name="Com.Hms.TestYantratest.Integration_between_Doctor_and_PateintTest"/>
      <class name="Com.Hms.TestYantratest.Check_ReportTest"/>
      <class name="Com.Hms.TestYantratest.Manage_Patient_HistorTest"/>
      <class name="Com.Hms.TestYantratest.Adding_Doctors_and_and_search_PatientsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->